body{
	font-family: 'Courier New', monospace;
	font-style: normal;
	font-weight: 500;
	
 	margin:0px;
	/*display: grid;
  	align-items: center;
  	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  	grid-template-columns: repeat(12, 1fr);
  	grid-column-gap: 20px;
  	grid-template-rows: repeat(2, 1fr);*/

  	cursor: pointer;

}
h1, h2, h3, h4, h5, h6{
	font-family: termina,sans-serif;
	font-weight: 700;
	font-style: normal;
	text-shadow: 1px black;
}
h1{
	position: fixed;
	z-index:-1;
	margin: 0;

	font-size:10em;
	font-family: termina,sans-serif;
	font-weight: 900;
	font-style: normal;
	line-height: 0.9em;

	color: black !important;
	text-shadow:
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF;
}
h2{
	margin: 20px 0 0 0;
}

.video{
	position: fixed;
	padding: 300px 0 0 100px;
	width: 40vw; 
	height: 40vh; 
	border:0;
}
.text{
	margin: 0 200px 200px 50vw;
	padding-top: 280px;
	font-size: 1em;
	overflow-y: hidden;
}
.text p{
	color: black !important;
	text-shadow: none;
}
.text h2{
	color: black !important;
	text-shadow:
		/*-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,*/
		1px 1px 0 #FFF;
}
.header{
	display: block;
	position: fixed;
	bottom: 50px;
	left: 20px;
	z-index: 2;

	text-align: left;
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	
	color: grey;
}
.header h4{
	margin:0;
}
.link{
	position: fixed;
	bottom: 50px;
	left: 100px;
	text-decoration: none;
	animation: changeColour 0.5s infinite;
}
@keyframes changeColour {
  50% {color: yellow;}
}

.link h4{
	margin: 0;
}
.link:hover{
	color: white;
	animation: none;
}
.link:visited{
	color:grey;
}
